---
import Header from '../components/Header.astro'
import BIRLayout from '../layouts/BIRLayout.astro'
import RanWindow from '../components/RanWindow.astro'
import BIRParticles from '../components/BIRParticles.astro'
import GuideList from '../components/GuideList.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

const content = {
  title: SITE_TITLE,
  description: SITE_DESCRIPTION,
  isBlog: false,
}
---

<BIRLayout content={content}>
  <section class="relative text-center overflow-hidden bg-bir-dark">
    <div
      class="absolute inset-0 w-full h-full bg-[url(/cover/1.png)] bg-cover bg-center opacity-50"
    >
    </div>
    <div
      class="absolute inset-0 w-full h-full bg-[url(/bg/pattern-1.png)] bg-repeat bg-center opacity-60"
    >
    </div>

    <BIRParticles />

    <div class="relative px-6 py-8 lg:py-16" data-tilt>
      <h1 class="hidden">BIR Gaming</h1>
      <svg
        class="relative grid place-content-center mx-auto max-w-lg aspect-square"
        viewBox="0 0 97 69"
        fill="#FF0000"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 0V68H27.5V61.5H34.5V41H27.5V27.5H34.5V13.5H27.5V6.5H21V0H0ZM14 27V14H20.5V27H14ZM14 54.5V41H20.5V54.5H14Z"
          fill="#FF0000"></path><path d="M41 0H55V68H41V0Z" fill="#FF0000"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M62 0V68.2975H76V41H82.5V68.2975H96.5V41H89.5V27.5H96.5V7H89.5V0H62ZM76 27V13.5H82.5V27H76Z"
          fill="#FF0000"></path>
      </svg>
    </div>
  </section>

  <Header />

  <section class="relative px-6 py-16 lg:py-32 text-center">
    <div
      class="absolute inset-0 w-full h-full bg-[url(/cover/4.jpg)] bg-center bg-cover opacity-60"
    >
    </div>
    <div class="relative mx-auto max-w-4xl z-10">
      <RanWindow title="BIR Lang Malakas">
        <div class="p-4 lg:p-6">
          <h2
            class="font-bebas text-bir-text-green text-4xl lg:text-[64px] leading-tight"
          >
            Pinakamabait na guild sa <a
              href="https://www.facebook.com/ranonlinepinas"
              class="underline"
              target="_blank"
              rel="noreferrer">Ran Online Pinas</a
            >. bagsakan ng mga pinakamatitikas at matatag na players.
          </h2>
        </div>
      </RanWindow>
    </div>
  </section>

  <section class="px-6 py-16 lg:py-32">
    <div class="container mx-auto">
      <div class="flex justify-center content-center items-center">
        <h2 class="mr-8 uppercase leading-tight font-bebas text-bir-text-green">
          Sali ka? <br /> pm mo kami
        </h2>
        <div class="max-w-[150px] lg:max-w-[250px]">
          <img src="/char/castle.png" />
          <p class="mt-4 text-center text-lg lg:text-2xl">IGN: Castle</p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="relative px-6 py-6 lg:py-24 bg-texture-and-cross bg-repeat"
    id="qualifications"
  >
    <h2 class="mb-12 text-center font-bebas text-bir-text-green">
      Qualifications:
    </h2>
    <div class="mx-auto container lg:max-w-[60%]">
      <img class="w-full h-auto" src="/requirements-2.png" />
    </div>
  </section>

  <section class="relative px-6 py-16 lg:py-48">
    <GuideList />
  </section>

  <section class="relative py-16 lg:py-48 text-center">
    <div class="absolute inset-0 w-full h-full overflow-hidden">
      <img class="w-full" src="/bir-lang-malakas.svg" />
      <div
        class="h-full bg-[url(bir-lang-malakas.svg)] bg-repeat-y bg-contain opacity-40"
      >
      </div>
    </div>
    <div class="relative px-6 mx-auto container z-10">
      <div class="mx-auto max-w-4xl">
        <RanWindow title="Official OST">
          <div class="py-1">
            <iframe
              class="mx-auto w-full aspect-video"
              src="https://www.youtube-nocookie.com/embed/5ey4rbnVDY0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </RanWindow>
        <p class="pt-8 text-lg lg:text-2xl">by `Ashura- / Ron Cali</p>
      </div>
    </div>
  </section>
</BIRLayout>
