---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: customClass, ...props } = Astro.props as Props
const isActive = href === Astro.url.pathname
---

<a
  href={href}
  class:list={[
    'text-md sm:text-lg md:text-2xl mr-8 md:mr-12 last:mr-0',
    customClass,
    { active: isActive },
  ]}
  {...props}
>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
