---
import HeaderLink from './HeaderLink.astro'
import { RAN_PINAS_SOCIAL } from '../config'
---

<header>
  <nav class="text-center text-bir-text-green">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/guides">Guides</HeaderLink>
    <HeaderLink href={RAN_PINAS_SOCIAL.ran_pinas.url} target="_blank"
      >Play Now</HeaderLink
    >
  </nav>
</header>
