---
const { title } = Astro.props
---

<div class="shadow-lg">
  <div class="relative rounded-md border-t-2 border-white">
    <h4
      class="absolute left-2 top-1/2 -translate-y-1/2 text-white font-verdana text-shadow-1"
    >
      {title || ''}
    </h4>
    <div
      class="rounded-t-md h-[12px] bg-gradient-to-b from-[#B6B6B6] to-[#8B8B8B]"
    >
    </div>
    <div class="h-[12px] bg-gradient-to-b from-black to-transparent"></div>
  </div>

  <div class="rounded-b-md bg-black/50">
    <slot />
  </div>
</div>
