---
const theme = {
  facebook: {
    color: '#1877F2',
    icon: '/icons/facebook-white.svg',
  },
  discord: {
    color: '#5865F2',
    icon: '/icons/discord.svg',
  }
};

const { data } = Astro.props;
const { type, url } = data; 
---

<a href={url || '#'} target="_blank" rel="noreferrer">
  <div
    class="max-w-[200px] px-4 py-1 rounded-lg"
    style={{ backgroundColor: theme[type].color }}>
    <div class="flex justify-center items-center font-changa">
      <img class="mr-2 w-[20px] h-auto" src={theme[type].icon} />
      <h4 class="text-white text-lg">{data.title || ''}</h4>
    </div>
  </div>
</a>
